* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: cadetblue;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.copyrights {
    position: relative;
    top: 10vh;
    font-size: 13px;
}

.copyrights a {
    text-decoration: none;
    color: black;
}

.copyrights a:hover {
    color:rgb(56, 56, 56);
    text-decoration: underline;
}

.game {
    /* you can change it to responsive later if u want */
    position: relative;
    height: 500px;
    width: 500px;
    border: 5px solid black;
    background-color: cornsilk;
    overflow: hidden;
}

/* add some cool style to it later */
.score { 
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5rem;
}

.obstacle {
    height: 500px;
    width: 50px;
    background-color: rgb(58, 39, 39);
    position: relative;
    left: 500px;
    border-radius: 3px;;
    animation: obstacle 5s linear infinite; /* duration will change every x jumps to make it harder!!!! */
}

.hole {
    height: 170px;
    width: 50px;
    background-color: cornsilk;
    position: relative;
    top: -500px; /* extremes: -500, -130 */
    left: 500px;
    animation: obstacle 5s linear infinite;
}

/* dodać animację fajną jak będzie skok czy coś, jakiś zwykły rotate wystarczy */
.platypus {
    position: absolute;
    top: 100px;
    width: 80px;
    height: 25px;
    z-index: 3;
    left: 0px;
}

.image {
    object-fit:cover;
    width: 100%;
    height: 100%;
}

@keyframes obstacle {
    0% {left: 500px}
    100% {left: -50px}
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    position: relative;
    top: 100px;
}