* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: cadetblue;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.copyrights {
    position: relative;
    top: 10vh;
    font-size: 13px;
}

.copyrights a {
    text-decoration: none;
    color: black;
}

.copyrights a:hover {
    color:rgb(56, 56, 56);
    text-decoration: underline;
}

.game {
    /* you can change it to responsive later if u want */
    position: relative;
    height: 500px;
    width: 500px;
    border: 5px solid black;
    background-color: cornsilk;
    overflow: hidden;
}

/* add some cool style to it later */
.score, .highscore { 
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5rem;
}

.highscore {
    left: 15px;
}

.obstacle {
    height: 500px;
    width: 50px;
    background-color: rgb(58, 39, 39);
    position: relative;
    left: 500px;
    border-radius: 3px;;
    animation: obstacle 4s linear infinite; /* duration will change every x jumps to make it harder!!!! */
}

.hole {
    height: 170px;
    width: 50px;
    background-color: cornsilk;
    position: relative;
    top: -500px; /* extremes of visibility: -500, -170 */
    left: 500px;
    animation: obstacle 4s linear infinite;
}

/* dodać animację fajną jak będzie skok czy coś, jakiś zwykły rotate wystarczy */
.platypus {
    position: absolute;
    top: 100px;
    width: 80px;
    height: 25px;
    z-index: 3;
    left: 0px;
    transform: none;
    border-radius: 40%; /*make collisions more precise -- SPYTAJ KACPRA CZY TO MA SENS*/
}

.image {
    object-fit:cover;
    width: 100%;
    height: 100%;
}

@keyframes obstacle {
    0% {left: 500px}
    100% {left: -50px}
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    position: relative;
    top: 100px;
    transform: none;
    background-color: none;
    padding: 10px;
    border-radius: 10px;
    animation: heading 1.5s ease-in-out infinite; /* make it stop after the start of the game*/
}

h1 {
    transform: scale(1.5);
}

@keyframes heading {
    0% 
    {
        transform: scale(1);
        background-color: rgb(99, 186, 189);
    }
    50% 
    {
        transform: scale(1.3);
        background-color: transparent
    }
    100% 
    {
        transform: scale(1);
        background-color: rgb(99, 186, 189);
    }
}

.startScreen {
    position: absolute;
    height: 530px;
    width: 510px;
    background-color: cadetblue;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    /* dać potem fajną animację że z display block na none żeby się chowało szybko fajnie do środka (czyli scale 0 np.) */
}

.startScreen h2 {
    margin-bottom: 50px;
    font-size: 2rem;
}